html {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

body {
  color: #01063D;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
}

.canvas-wrapper:focus {
  outline: none;
}

.join {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  border: 1px solid #2B1868;
  border-radius: 10px;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

.join-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1.title {
  font-weight: 400;
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.join-form>label {
  margin-bottom: 0.25rem;
}

.join-form>input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #2B1868;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.join-form>input[type=submit] {
  margin-bottom: 1rem;
  margin-bottom: 0;
  background-color: #2B1868;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 400;
}

.room-name {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  margin: 0;
  font-size: 0.75rem;
}

.post-it-edit{
    margin: 0px;
    overflow: hidden;
    background: none;
    resize: none;
    outline: none;
    width: 178px;
    height: 178px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    border: 2px solid #2B1868;
    line-height: 1.4;
    text-align: left;
}

.leyend{
    float: right;
    border: 4px dotted #2B1868;
    margin: 50px;
    padding-right: 50px;
    background-color: whitesmoke;

}
.leyend li{
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: left;
}

.leyend li span{
    border: 2px solid #2B1868;
    margin-left: 5px;
    text-align: left;
    padding:5px;
}
